.global-message-list.transition {
  -webkit-transition: top 200ms linear;
  -ms-transition: top 200ms linear;
  -moz-transition: top 200ms linear;
  -khtml-transition: top 200ms linear;
  -o-transition: top 200ms linear;
  transition: top 200ms linear;
}
